/* global styles */

:root {
	--main-blue: hsl(223, 87%, 63%);
	--main-pale-blue: hsl(223, 100%, 88%);
	--main-gray: hsl(0, 0%, 59%);
	--main-light-red: hsl(354, 100%, 66%);
}
*,
* ::before,
* ::after {
	margin: 0;
	padding: 0;
}
html {
	font-size: 20px;
        font-family: 'Libre Franklin' sans-serif;
	font-weight: 300; 
}
body {
	background-color: white;
}
.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
img {
	width: 100%;
	max-width: 100%;
}

/* global styles ends  */

/* header section begins */
header {
	padding: 3rem 0 1rem 0;
}
.ping-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.ping-logo img {
	max-width: 50px;
}
/* header section ends */

/* introduction section begins */
.intro-texts {
	text-align: center;
	line-height: 2;
}
.intro-texts h1 {
	color: var(--main-gray);
	font-size: 1rem;
	word-spacing: 2px;
	font-weight: lighter;
}
.intro-texts p {
	font-size: 0.6rem;
}
.intro-texts span {
	color: black;
	font-family: 'Libre Franklin' sans-serif;
	font-weight: 700; 
}
/* introductory section ends */

/* form section begins */
.notify-form {
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
input::placeholder {
	color: var(--main-pale-blue);
}
input {
	border-radius: 10rem;
	border-width: thin;
	border-color: var(--main-pale-blue);
	outline: none;
	padding: 0.5rem 5.5rem 0.5rem 2rem;
	font-size: 0.5rem;
}
label {
	font-size: 0.5rem;
	display: flex;
	justify-content: center;
	color: var(--main-light-red);
}
.box-1 {
	line-height: 2;
	margin-bottom: 1rem;
}
button {
	font-size: 0.5rem;
	text-align: center;
	border-radius: 10rem;
	border: none;
	padding: 0.6rem 6.0rem;
	background-color: var(--main-blue);
	color: white;
	box-shadow: 0 2px 5px var(--main-pale-blue);
	outline: none;
	cursor: pointer;
}
/* form section ends */

/* image styling begins */
.slack-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.slack-img img {
	max-width: 375px;
}
.slack {
	margin-bottom: 2rem;
}
/* image styling ends */

/* icon styling */
.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.5rem;
}
.circle {
	color: var(--main-pale-blue);
}
.brands {
	color: var(--main-blue);
}
.social-icons span {
	font-size: 0.5rem;
	padding: 0.2rem;
}
.brands:hover {
	background-color: var(--main-blue);
	color: white;
}
/* icon styling ends */

footer p {
	text-align: center;
	font-size: 0.6rem;
	color: var(--main-gray);
}
footer {
	padding-bottom: 1rem;
}
/* media query begins */

@media only screen and (min-width: 600px) {
	header {
		padding: 0 0 1rem 0;
	}
	.intro-texts h1 {
		font-size: 1.2rem;
	}
	.notify-form {
		flex-direction: row;
		align-items: inherit;
	}
	button {
		padding: 0.6rem 1.8rem;
		margin-top: 0.2rem;
		margin-left: 0.5rem;
	}
	input {
		padding: 0.5rem 5rem 0.5rem 1rem;
	}
	label {
		font-size: 0.5rem;
		justify-content: initial;
		font-family: Libre Franklin Two;
		color: var(--main-light-red);
		padding: 0 1rem;
	}
	.slack-img {
		margin-top: 30px;
	}
}
